extends layout

block content
    section#form
        .container
            .row
                h2.title.text-center
                    | Sign in to your account
        //form
        .container
                .row
                .col-sm-4.text-center
                    .login-form
                        if checkOutNoti
                            if (signInError != '')
                                p=signInError
                            else
                                p=checkOutNoti
                        else
                            if (signInError != '')
                                p=signInError

                        form(id='sign-in', action='/sign-in', method='POST')
                            input(type='text', name='username', placeholder='Username')
                            input(type='password', name='password', placeholder='Password')
                            //
                              <span>
                              <input type="checkbox" class="checkbox">
                              Keep me signed in
                              </span>
                            button.btn.btn-default(type='submit') Sign in
                    ///login form
    ///form